:root {
    --font-color: #cd00c6;
    --bg-color: #cd00c62d;
    --bg-footer-color: #71036dc7;
    --color-hover: #ff00b7;
    font-size: 62.5%;
  }
  
  ::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--font-color);
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 0.8rem;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
  }
  
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
    text-decoration: none;
  }
  
  a {
    color: var(--font-color);
  }
  
  a:hover {
    color: var(--color-hover);
    transition: 1s;
    font-size: 1.9rem;
  }
  
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  
  body {
    background: url(../images/bg-profile-default.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    color: var(--font-color);
  }
  
  body nav {
    height: 4rem;
  }
  
  body nav.mobile {
    display: none;
  }
  
  body nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    height: 100%;
    background-color: var(--bg-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  
  body section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 13.2rem);
  }
  
  body footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-footer-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0.8rem;
    font-weight: bold;
    border-top: 1px solid var(--color-hover);
  }
  
  body footer div {
    width: auto;
    height: auto;
  }
  
  body footer div img {
    border-radius: 50%;
  }
  
  body footer div.all-contacts div.all-divs-have-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
  
  /* MENU MOBILE */
  div.flexlist-menu {
    display: none;
  }
  